.menu {
  /* add correct code to place the menu correctly.*/

  background-color: black;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 400;
  color: white;
}
body {
  background-color: whitesmoke;
}
.grid { 
  display:flex;
  flex-wrap: wrap;
  font-family: sans-serif;
  justify-content: space-around;
}

.grid img {
  border: 2px solid black;
  border-radius: 50px;
}
.origami {
  border-radius: 20px;
  background-color: white;
  margin: 20px;

  width: 310px;
  font-family: fantasy;
}
p,h3{
  text-align: center;
}
.languages p{
  position: relative;
}
.languages p{
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0
}
.languages:hover{
  opacity: 0.77
}